@dl:registry=https://deeplinktech-npm.pkg.coding.net/wealthpartner/npm/
always-auth=true
//deeplinktech-npm.pkg.coding.net/wealthpartner/npm/:username=npm-1683274960604
//deeplinktech-npm.pkg.coding.net/wealthpartner/npm/:_password=Y2ZlZTVmOWNkYWI4YmQ0M2ZjODg2ZTZiOGFlOGM0YzgxN2EyNTZiYQ==
//deeplinktech-npm.pkg.coding.net/wealthpartner/npm/:email=jackyloop@outlook.com
